<ion-view view-title="{{movie_label}}" ng-init="showMovies()" cache-view="true">
	<ion-content ng-repeat="movie in movies | filter: movie_label" class="padding">
		<div class="card">
			<div class="movie-item item item-thumbnail-left">
				<img class="movie-thumb" ng-src="{{getThumbnail(movie.thumbnail)}}">
				<h2>{{movie.label}}</h2>
				<p>{{movie.year}} - {{toHours(movie.runtime)}}</p>
				<p><span ng-repeat="genre in movie.genre">{{genre}}{{$last ? '' : ', '}}</span></p>
				<p>Rating : {{Math.round(movie.rating * 10) / 10}}/10</p>
			</div>

			<div class="item item-body" ng-init="getStreamInfo(movie.file, movie.art.fanart)">

				<videogular vg-theme="config.theme">
					<vg-media vg-src="config.sources" vg-dash>
					</vg-media>

					<vg-controls>
						<vg-play-pause-button></vg-play-pause-button>
						<vg-time-display>{{ currentTime | duration:'hh:mm:ss' }}</vg-time-display>
						<vg-scrub-bar>
							<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
						</vg-scrub-bar>
						<vg-time-display>{{ timeLeft | duration:'hh:mm:ss' }}</vg-time-display>
						<vg-volume>
							<vg-mute-button></vg-mute-button>
							<vg-volume-bar></vg-volume-bar>
						</vg-volume>
						<vg-fullscreen-button></vg-fullscreen-button>
					</vg-controls>

					<vg-overlay-play></vg-overlay-play>
					<vg-poster vg-url='config.plugins.poster'></vg-poster>
				</videogular>

				<p>{{movie.plot}}</p>
			</div>

			<a href="#/tab/remote" class="item item-icon-left positive" ng-click="playMovieOnKodi(movie.file)">
				<i class="icon ion-play"></i>
				Play on Kodi
			</a>
			<br>
			<br>
		</div>
	</ion-content>
</ion-view>
