<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">About</h1>
		<div class="buttons">
			<button class="button button-clear" ng-click="closeAbout()">Close</button>
		</div>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="about-icon-wrapper">
			<div class="app-name">Kimote</div>

			<img src="img/icon.png" class="kimote-icon">

			<div class="about-who">
				<span class="projet-mention">S8 Project 2015</span>
				<p class="license-mention">Application developed by group 8 - T2 - under GNU LGPL 3.0 license</p>
				<i class="icon ion-location icon-location"></i>ENSEIRB-MATMECA, Bordeaux
			</div>
			<div class="wrapper-bottom">
				<div class="made-with">
					Made with Ionic 
					<i class="icon ion-ionic"></i>
				</div>

				<div class="github">
					<i class="icon ion-social-github"></i> github.com/eftov/Kimote
				</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
