<ion-view view-title={{title}}>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-arrow-return-left" ng-click="getParent()"></button>
    </ion-nav-buttons>

    <div ng-init='getStart()'></div>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getStart()">
        </ion-refresher>
        <ion-list>
            <a class="item item-icon-right" ng-repeat="file in files" ng-click="getFile(file)">
                <h2>{{file.label}}</h2>
                <!-- <i class="icon ion-trash-a icon-accessory" ng-click="rmFile(file.file)"> -->
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </ion-list>
    </ion-content>
</ion-view>