<ion-tabs class="tabs-icon-top tabs-positive">

	<!-- Remote Tab -->
	<ion-tab title="Remote" icon-off="ion-ios-game-controller-a" icon-on="ion-ios-game-controller-a" href="#/tab/remote">
		<ion-nav-view name="remote-tab"></ion-nav-view>
	</ion-tab>

	<!-- Movies Tab -->
	<ion-tab title="Movies" icon-off="ion-film-marker" icon-on="ion-film-marker" href="#/tab/movies">
		<ion-nav-view name="movies-tab"></ion-nav-view>
	</ion-tab>

	<!-- TvShows Tab -->
	<ion-tab title="TV Shows" icon-off="ion-monitor" icon-on="ion-monitor" href="#/tab/tvshows">
		<ion-nav-view name="tvshows-tab"></ion-nav-view>
	</ion-tab>

	<!-- Music Tab -->
	<ion-tab title="Music" icon-off="ion-music-note" icon-on="ion-music-note" href="#/tab/music">
		<ion-nav-view name="music-tab"></ion-nav-view>
	</ion-tab>

	<!-- Photos Tab -->
	<ion-tab title="Pictures" icon-off="ion-image" icon-on="ion-image"  href="#/tab/pics">
		<ion-nav-view name="pics-tab"></ion-nav-view>
	</ion-tab>

	<!-- Files Tab -->
    <ion-tab title="Files" icon-off="ion-folder" icon-on="ion-folder"  href="#/tab/files">
        <ion-nav-view name="files-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
