<ion-view view-title="Music" ng-init="showArtists()" cache-view="true">
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-android-search" ng-click="searchBox()"></button>
	</ion-nav-buttons>

	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="showArtists()">
		</ion-refresher>
		<div class="list list-inset search-box" ng-show="showSearch">
			<label class="item item-input search-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="search">
			</label>
		</div>

		<ion-list>
			<a class="item item-thumbnail-left item-icon-right" collection-repeat="artist in artists | filter:search" href="#/tab/albums/{{artist.label}}/{{artist.artistid}}">
				<img ng-src="{{getThumbnailArtist(artist.thumbnail)}}">
				<h2>{{artist.label}}</h2>
				<p ng-repeat="genre in artist.genre">{{genre}}{{$last ? '' : ', '}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</ion-list>
	</ion-content>
</ion-view>
