<ion-view view-title="{{song_label}}" ng-init="showSongDetails(song_id)">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-image padding">
				<img ng-src="{{getThumbnailAlbum(songdetails.thumbnail)}}">

				<videogular vg-theme="config.theme" class="videogular-container audio">
					<vg-media vg-src="config.sources" vg-type="audio"></vg-media>

		  			<vg-controls>
						<vg-play-pause-button></vg-play-pause-button>
						<vg-time-display>{{ currentTime | duration:'mm:ss' }}</vg-time-display>
						<vg-scrub-bar>
							<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
						</vg-scrub-bar>
						<vg-time-display>{{ timeLeft | duration:'mm:ss' }}</vg-time-display>
						<vg-volume>
							<vg-mute-button></vg-mute-button>
						</vg-volume>
					</vg-controls>
				</videogular>
			</div>

			<a href="#/tab/remote" class="item item-icon-left positive" ng-click="playSong(songdetails.file)">
				<i class="icon ion-play"></i>
				Play on Kodi
			</a>
				
			<br>
			<br>
		</div>
	</ion-content>
</ion-view>