<ion-view view-title="TV Shows" ng-init="showSeries()" cache-view="true">
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-android-search" ng-click="searchBox()"></button>
	</ion-nav-buttons>

	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="showSeries()">
		</ion-refresher>
		<div class="list list-inset search-box" ng-show="showSearch">
			<label class="item item-input search-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="search">
			</label>
		</div>

		<ion-list>
			<a class="tvshow-item item item-thumbnail-left item-icon-right" collection-repeat="tvshow in tvshows | filter:search" href="#/tab/tvshows/{{tvshow.label}}/{{tvshow.tvshowid}}">
				<img class="tvshow-thumb" ng-src="{{getThumbnailSeries(tvshow.thumbnail)}}">
				<h2>{{tvshow.label}}</h2>
				<p>{{tvshow.year}}</p>
				<p>Rating : {{Math.round(tvshow.rating * 10) / 10}}/10</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</ion-list>
	</ion-content>
</ion-view>
