.platform-ios {
	font-family: 'Helvetica Neue', sans-serif !important;
}

.platform-android * {
	font-family: 'Roboto', sans-serif;
}

.search-box {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	margin-right: 5px !important;
	margin-left: 5px !important;
}

.search-input {
	padding-left: 10px !important;
	padding-top: 5px !important;
	height: 35px !important;
	border-color: transparent;
}

/* volume popup */

.popup {
	width: 80% !important;
}

/* index.html */

.icon-connexion-side, .icon-about-side {
	margin-right: 15px;
}

.device-name {
	padding-left: 16px;
	font-size: 16px;
}

/* remote.html */

.btn-custom {
	font-size: 50px;
}

.center-col {
	text-align: center;
}

.remote-btn {
	position: absolute;
	z-index: 3;
	width: 95%;
	bottom: 38%;
}

.ion-chevron-left, .ion-power, .ion-android-home, .ion-ios-plus-outline {
	float: right;
}

.scroll {
	height: 100% !important;
	position: relative;
}

.runtime {
	position: absolute;
	bottom: 10%;
	width: 95%;
}

.button-nav-left {
	float: right;
}

.button-nav-right {
	float: left;
}

.button-nav-custom {
	font-size: 50px;
}

.media-buttons-wrapper {
	position: absolute;
	width: 95%;
	bottom: 25%;
}

.media-buttons {
	text-align: center;
	font-size: 7em;
}

.button-media-custom {
	font-size: 50px;
}

.button-settings-custom {
	font-size: 30px;
}

.sound {
	position: absolute;
	bottom: 1%;
	width: 100%;
}

.time {
	position: absolute;
	text-align: center;
	left: -20px;
	bottom: 1%;
	width: 105%;
}

.time-element {
	bottom: 0;
}

/* login.html */

.auth {
	font-size: 16px;
}

.icon-connexion {
	margin-right: 15px;
}

.icon-deconnexion {
	margin-right: 15px;
}

.item-checkbox {
	padding-left: 55px !important;
}

.checkbox {
	border:none !important;
}

.check {
	padding: 7px 0;
}

.removeID {
	float: right;
	margin-top: 9px;
	margin-left: 5px;
	margin-right: 20px;
}

.memoriser {
	float: left;
	margin-left: 10px;
}

.icon.ion-volume-low, .icon.ion-volume-high{
	border: none !important;
	background: none !important;
}

.boutons-connect {
	text-align: center;
}

/* movie-detail.html */

.movie-media-buttons {
	text-align: center;
}

.movie-item {
	height: 138px !important;
}

.movie-item-remote {
	border-color: transparent;
	background-color: transparent;
	height: 80px !important;
	padding-top: 5px;
	padding-right: 0;
	padding-left: 75px;
	margin: 0 auto !important;
	width: 400px;
}

.remote-thumbnail {
	max-width: 60px !important;
	max-height: 60px !important;
	width: 60px !important;
	height: 60px !important;
	top: 5px !important;
	left: 5px !important;
}

.movie-thumb {
	max-height: 115px !important;
}

/* about.html */

.wrapper-bottom {
	position: relative;
	margin-top: 10%;
	text-align: center;
}

.ion-ionic {
	color: #387ef5;
}

.ion-ionic, .ion-social-github {
	font-size: 30px;
	vertical-align: middle;
}

.icon-location, .icon-who {
	margin-right: 5px;
}

.about-icon-wrapper {
	position: absolute;
	top: 12%;
	left: 0;
	right: 0;
	text-align: center;
}

.kimote-icon, .about-icon-wrapper {
	width: 50%;
}

.about-who {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 15px;
}

@font-face {
	font-family: Intro;
	src: url(Intro.otf);
}

.app-name {
	font-family: Intro;
	font-size: 32px;
	margin-bottom: 30px;
}

.projet-mention {
	font-size: 18px;
}

.license-mention {
	font-size: 10px;
}

/* tvshows.html */

.tvshow-thumb {
	max-height: 115px !important;
}

.tvshow-item {
	height: 138px !important;
}

/* episode-detail.html */

.episode-thumb {
	max-width: 140px !important;
}

.episode-item {
	padding-left: 160px !important;
}

.media-buttons-bottom {
	position: absolute;
	width: 95%;
	bottom: 1%;
}

.media-time {
	position: absolute;
	width: 95%;
	bottom: 18%;
	text-align: center;
}
